{% extends "layout.html" %}
{% block content %}
<body ng-app="renco">
    <div class="container" ng-controller="booking">
        <div class="row">
            <h1 class="text-center">Complete your booking</h1>
            <h4 class="text-center">A few more details and we are ready to complete your booking.</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form method="post" action="confirmBooking">
                    <div class="well">
                        <h3>Contact Information</h3>
                        <p>Your contact information is used to reach out to you regarding your cleaning.</p>
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Your first name" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Last name</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Your last name" required>
                        </div>
                        <div class="form-group">
                            <label for="user_email">Email</label>
                            <p class="form-control-static" id="user_email">Loading email ...</p>
                        </div>
                        <div class="form-group">
                            <label for="user_mobile">Mobile (optional)</label>
                            <span id="user_mobile_holder"><p class="form-control-static" id="user_mobile">Loading mobile ...</p></span>
                        </div>
                    </div>
                    <hr>
                    <div class="well">
                        <h3>Your Address</h3>
                        <p>Where do we clean?</p>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" placeholder="Your address so we can find you" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" placeholder="Ciy name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="postcode">Post code</label>
                            <input type="number" name="postcode" id="postcode" placeholder="Valid post code" class="form-control" required>
                        </div>
                    </div>
                    <hr>
                    <div class="well">
                        <h3>Select Additional Services</h3>
                        <p>Customize your cleaning with these additional services.</p>
                        <p>For moving or main cleaning, all additional services are included in the price.</p>
                        <div class="text-center" id="itemlist">
                            <img src="images/ripple.gif" border=0 alt="Loading ..." width=40 height=40>
                        </div>
                    </div>
                    <hr>
                    <div class="well">
                        <h3>When Do We Come By?</h3>
                        <div class="form-group">
                            <label>Select date and time</label>
                            <input type="datetime-local" name="datetime" id="datetime" class="form-control" required>
                        </div>
                    </div>
                    <hr>
                    <div class="well">
                        <h3>Additional Information</h3>
                        <div class="form-group">
                            <label>How do we access your home?</label>
                            <select name="homeaccess[]" class="form-control">
                                <option value="-1">Select an option</option>
                                <option value="athome">I am at home</option>
                                <option value="key">I put the key underneath the map</option>
                                <option value="neighbour">The key can be picked up from the neighbour</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>How did you find us?</label>
                            <select name="findus[]" class="form-control">
                                <option value="-1">Select an option</option>
                                <option value="google">Google</option>
                                <option value="bing">Bing</option>
                                <option value="facebook">Facebook</option>
                                <option value="rec">Recommendation</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="well" ng-init="getBookingDetails()">
                    <p class="text-center">
                        <label>Your quote is</label>
                    </p>
                    <h1 class="text-center">kr. <span id="cost">{{totalCost}}</span></h1>
                    <div class="well" id="bookingdetails">
                        <div class="text-center"><img src="images/ripple.gif" border=0 alt="Loading ..." width=40 height=40></div>
                    </div>
                    <hr>
                    <h1 class="text-center">100%</h1>
                    <h3 class="text-center">Satisfaction Guarantee!</h3>
                    <p class="text-center">If you are not satisfied with our cleaning, please contact us immediately and we will send a new team to do the job - at no cost!</p>
                    <hr>
                    <p class="text-center">
                        <label>What our customers say ...</label>
                    </p>
                    <p class="text-center">
                        <em>"The cleaning far exceeded my expectations! It is probably the best cleaning aid I have hired. Thank you!"</em>
                    </p>
                    <p class="text-center">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                    <p class="small text-center">Sofie Bingham from Copenhagen</p>
                    <script type="text/javascript">
                    <!--
                    $(".glyphicon-star").css("color","yellow");
                    //-->
                    </script>
                    <hr>
                    <p class="text-center">
                        <label>Questions?</label>
                    </p>
                    <p class="text-center">
                        <a href="https://renco.dk/vi-tilbyder/almindelig-rengoering/#standard" target="_blank">What is included in an ordinary cleaning?</a><br>
                        <a href="https://renco.dk/hjaelp/" target="_blank">Get answers to frequently asked questions here.</a>
                    </p>
                    <hr>
                    <p class="text-center"><label>Need help?</label><br>Call us at 7199 1913</p>
                    <hr>
                    <p class="text-center">
                        All prices are inclusive of VAT.<br><br>
                        <img src="images/powered_by_stripe.png" border=0 alt="Stripe" class="img-responsive" style="margin:0 auto;" width=100>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}