{% extends "layout.html" %}
{% block content %}
<body ng-app="renco">
    <div class="container" ng-controller="pre-book">
        <img src="images/renco-logo.png" class="img-responsive" width="200" alt="Renco" style="margin: 0 auto;">
        <hr>
        <h1 class="text-center">We clean. You enjoy.</h1>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}