{% extends "layout.html" %}
{% block content %}
<body ng-app="renco">
    <div class="container" ng-controller="pre-book" ng-init="getItems()">
        <img src="images/renco-logo.png" class="img-responsive" width="200" alt="Renco" style="margin: 0 auto;">
        <hr>
        <h1 class="text-center">We clean. You enjoy.</h1>
        <hr>
        <h4 class="text-center">Just select the number of rooms and bathrooms, see your price, and book private cleaning in less than 60 seconds!</h4>
        <h4 class="text-center">Tailored cleaning tailored to your needs and your busy life.</h4>
        <div id="itemlist" class="well"></div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <br>
    <br>
    <br>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}